<div class="site-search fade">
    <div class="site-search-container">
        <button type="button" class="inline site-search-close" (click)="closeLightbox()">(close)</button>

        <form (ngSubmit)="executeSearch()">
            <input type="text" name="searchStr" class="form-element small" [(ngModel)]="searchStr" id-autofocus autocomplete="off">
            <button type="submit" class="hidden"></button>
        </form>

        <div class="site-search-results">
            <div>
                <h2>Ideas</h2>
                <ul *ngIf="!ideasLoading && ideaSearchResults.length > 0">
                    <li *ngFor="let idea of ideaSearchResults">
                        <button (click)="selectIdea(idea)">
                            <span class="search-result-name">{{idea.name}}</span>
                            <span class="search-result-info">{{idea.summary}}</span>
                            <span class="search-result-info">Score: {{idea.score}}</span>
                        </button>
                    </li>
                </ul>
                <span *ngIf="!ideasLoading && ideaSearchResults.length === 0">No results found</span>
                <div *ngIf="ideasLoading" class="spinner-wrapper"><id-spinner></id-spinner></div>
            </div>
            <div>
                <h2>People</h2>
                <ul *ngIf="!peopleLoading && personSearchResults.length > 0">
                    <li *ngFor="let person of personSearchResults">
                        <button (click)="selectPerson(person)">
                            <span class="search-result-name">{{person.firstName}} {{person.lastName}}</span>
                            <span class="search-result-info">{{person.username}}</span>
                            <span class="search-result-info">Score: {{person.score}}</span>
                        </button>
                    </li>
                </ul>
                <span *ngIf="!peopleLoading && personSearchResults.length === 0">No results found</span>
                <div *ngIf="peopleLoading" class="spinner-wrapper"><id-spinner></id-spinner></div>
            </div>
        </div>
    </div>
</div>