<!DOCTYPE html>
<html ng-app="idealogue">
<head>
    <base href="/">
    <title>Idealogue</title>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Reenie+Beanie'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300'>
    <link rel="stylesheet" href="styles/reset.css"/>
    <link rel="stylesheet" href="styles/idealogue.css"/>
</head>
<body ng-controller="MainCtrl">

    <header class="header" ng-hide="headerHidden" ng-cloak>
        <div class="search" ng-controller="SearchCtrl">
            <form ng-submit="executeSearch()">
                <label for="searchValue">search:</label>
                <input id="searchValue" class="form-element search-value" ng-model="searchValue" type="text" id-disabling>
            </form>
        </div>
        <div class="current-user" ng-controller="CurrentUserCtrl">
            logged in as: <span class="username" ng-bind="currentUserName"></span>
        </div>
        <nav class="nav" ng-controller="NavCtrl">
            <ul>
                <li><a href="" ng-click="goToIdeas()" id-disabling>Ideas</a></li>
                <li><a href="" ng-click="goToPeople()" id-disabling>People</a></li>
                <li><a href="" ng-click="goToAccount()" id-disabling>Account</a></li>
                <li><a href="" ng-click="logout()" id-disabling>Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="content-wrapper">
        <div class="content" ng-view></div>
    </div>

    <div class="search-results fade" ng-hide="searchResultsHidden" ng-controller="SearchResultsCtrl" ng-cloak>
        <div class="search-results-container">
            <button type="button" class="inline search-results-close" ng-click="closeSearchResults()">(close)</button>
        </div>
    </div>

    <div class="person-search fade" ng-hide="personSearchHidden" ng-controller="PersonSearchCtrl" ng-cloak>
        <div class="person-search-container">
            <form ng-submit="executePersonSearch()">
                <input class="form-element small" type="text" ng-model="personSearchValue" id-focus="{{!personSearchHidden}}">
                <button type="submit" class="hidden"></button>
                <button type="button" class="inline person-search-close" ng-click="closePersonSearchBox()">(close)</button>
            </form>

            <div class="person-search-results">
                <ul>
                    <li ng-repeat="person in personSearchResults">
                        <button ng-click="selectPerson(person)">
                            <span class="person-result-full-name">{{person.firstName}} {{person.lastName}}</span>
                            <span class="person-result-info">username: {{person.id}}</span>
                            <span class="person-result-info">{{person.email}}</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/crypto-js/rollups/md5.js"></script>

    <script src="scripts/idealogueApp.js"></script>
    <script src="scripts/controllers/coreControllers.js"></script>
    <script src="scripts/controllers/ideaControllers.js"></script>
    <script src="scripts/controllers/loginControllers.js"></script>
    <script src="scripts/controllers/personControllers.js"></script>
    <script src="scripts/controllers/accountControllers.js"></script>
    <script src="scripts/directives/coreDirectives.js"></script>
    <script src="scripts/services/authServices.js"></script>
    <script src="scripts/services/configServices.js"></script>
    <script src="scripts/services/ideaServices.js"></script>
    <script src="scripts/services/userServices.js"></script>
    <script src="scripts/services/skillServices.js"></script>
    <script src="scripts/services/techServices.js"></script>
    <script src="scripts/services/tagServices.js"></script>
    <script src="scripts/services/utilityServices.js"></script>
    <script src="scripts/services/eventingServices.js"></script>
</body>
</html>