react-es6-node-graphql-mongodb/dist
angular2-node-express-mongodb/src/**/*.js

coverage.out
node_modules/
bower_components/
typings/
.git/
.vscode/
*.log
*.tmp
*.map
.idea
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
