<id-header></id-header>

<section class="content-wrapper">
    <div class="content">
        <h1 class="title">Account: change password</h1>

        <ul class="actions">
            <li><a href="javascript:" ng-click="cancel()" id-disabling>back</a></li>
        </ul>

        <div class='view-group'>
            <div class="view-label"></div>
            <div class="view-element bottom-border"><h2>{{user.firstName}} {{user.lastName}}</h2></div>
        </div>

        <form name="changePassForm" ng-submit="save(changePassForm)" novalidate>
            <fieldset class="form-group">
                <label class="form-label" for="oldPassword">Old Password</label>
                <input id="oldPassword" name="oldPassword" ng-model="password.old" class="form-element password" type="password" ng-class="{'has-error': (changePassForm.oldPassword.$invalid || oldPasswordInvalid === true) && changePassForm.oldPassword.$touched}" id-focus id-disabling required>
                <span class="error-msg-inline" ng-show="oldPasswordInvalid">old password is incorrect</span>
            </fieldset>

            <fieldset class="form-group">
                <label class="form-label" for="newPassword">New Password</label>
                <input id="newPassword" name="newPassword" ng-model="password.new" class="form-element password" type="password" ng-class="{'has-error': changePassForm.newPassword.$invalid && changePassForm.newPassword.$touched}" id-disabling required>
            </fieldset>

            <fieldset class="form-group">
                <label class="form-label" for="confirmPassword">Confirm</label>
                <input id="confirmPassword" name="confirmPassword" ng-model="password.confirm" class="form-element password" type="password" ng-class="{'has-error': changePassForm.confirmPassword.$invalid && changePassForm.confirmPassword.$touched}" id-disabling required compare-to="password.new">
                <span class="error-msg-inline" ng-show="changePassForm.confirmPassword.$invalid && changePassForm.confirmPassword.$touched">passwords much match</span>
            </fieldset>

            <fieldset class="form-button-group">
                <button type="submit" class="form-button button-default" id-disabling>save</button>
                <button type="button" class="form-button" ng-click="cancel()" id-disabling>cancel</button>
            </fieldset>
        </form>
    </div>
</section>