<div id="changePassword">
    <div class="title">Account: change password</div>

    <div id="viewAccountActions">
        <nav class="actions">
            <ul>
                <li><a href="javascript:" ng-click="cancel()">back</a></li>
            </ul>
        </nav>
    </div>

    <form ng-submit="save()">
        <div class='view-group'>
            <label></label>
            <div class="view-element bottom-border"><h3>{{user.firstName}} {{user.lastName}}</h3></div>
        </div>

        <div class="edit-group">
            <label for="oldPassword">Old Password</label>
            <input id="oldPassword" ng-model="password.old" class="form-element medium focus" type="password">
        </div>

        <div class="edit-group">
            <label for="newPassword">New Password</label>
            <input id="newPassword" ng-model="password.new" class="form-element medium" type="password">
        </div>

        <div class="edit-group">
            <label for="confirmPassword">Confirm</label>
            <input id="confirmPassword" ng-model="password.confirm" class="form-element medium" type="password">
        </div>

        <div class="edit-button-group">
            <button type="submit" class="form-button button-default">save</button>
            <button type="button" class="form-button" ng-click="cancel()">cancel</button>
        </div>
    </form>
</div>