<div class="view-element">
	<ul class="comment-list">
	    <li ng-repeat="comment in idea.comments">
	        <span class="comment-header">{{printDate(comment.timestamp)}}, {{comment.fullName}}</span>
	        <span class="comment-text">{{comment.text}}</span>
	    </li>
	    <li class="comment-new" id="ideaNewComment">
	        <textarea ng-model="newComment" class="form-element comment-new-text" id="newCommentText" rows="1" id-disabling></textarea>
	        <button type="button" class="inline" ng-click="saveComment()" id-disabling>save</button>
	        <button type="button" class="inline" ng-click="cancelComment()" id-disabling>cancel</button>
	    </li>
	</ul>
	<button type='button' id="ideaAddCommentButton" class="inline add-comment-button" ng-click="addComment()">add comment</button>
</div>