<section class="content-wrapper">
    <div class="content">
        <h1 class="title">Create Account</h1>

        <ul class="actions">
            <li><a href="javascript:" ng-click="cancel()">back</a></li>
        </ul>

        <form name="createAccountForm" ng-submit="save(createAccountForm)" novalidate>
            <fieldset class="form-group">
                <label class="form-label" for="userId">Username</label>
                <input id="userId" name="userId" ng-model="user.id" class="form-element id" type="text" ng-class="{'has-error': createAccountForm.userId.$invalid && createAccountForm.userId.$touched}" id-focus required>
            </fieldset>

            <fieldset class="form-group">
                <label class="form-label" for="userFirstName">First Name</label>
                <input id="userFirstName" name="userFirstName" ng-model="user.firstName" class="form-element name" type="text" ng-class="{'has-error': createAccountForm.userFirstName.$invalid && createAccountForm.userFirstName.$touched}" required>
            </fieldset>

            <fieldset class="form-group">
                <label class="form-label" for="userLastName">Last Name</label>
                <input id="userLastName" name="userLastName" ng-model="user.lastName" class="form-element name" type="text" ng-class="{'has-error': createAccountForm.userLastName.$invalid && createAccountForm.userLastName.$touched}" required>
            </fieldset>

            <fieldset class="form-group">
                <label class="form-label" for="userEmail">Email</label>
                <input id="userEmail" name="userEmail" ng-model="user.email" class="form-element email" type="email" ng-class="{'has-error': createAccountForm.userEmail.$invalid && createAccountForm.userEmail.$touched}" required>
            </fieldset>

            <fieldset class="form-group">
                <label class="form-label" for="newPassword">Password</label>
                <input id="newPassword" name="newPassword" ng-model="password.new" class="form-element password" type="password" ng-class="{'has-error': createAccountForm.newPassword.$invalid && createAccountForm.newPassword.$touched}" required>
            </fieldset>

            <fieldset class="form-group">
                <label class="form-label" for="confirmPassword">Confirm</label>
                <input id="confirmPassword" name="confirmPassword" ng-model="password.confirm" class="form-element password" type="password" ng-class="{'has-error': createAccountForm.confirmPassword.$invalid && createAccountForm.confirmPassword.$touched}" required id-compare-to="password.new">
                <span class="error-msg-inline" ng-show="createAccountForm.confirmPassword.$invalid && createAccountForm.confirmPassword.$touched">passwords much match</span>
            </fieldset>

            <fieldset class="form-button-group">
                <button type="submit" class="form-button button-default">create</button>
                <button type="button" class="form-button" ng-click="cancel()">cancel</button>
            </fieldset>
        </form>
</section>