<div id="createAccount">
    <div class="title">Create Account</div>

    <div id="creteAccountActions">
        <nav class="actions">
            <ul>
                <li><a href="javascript:" ng-click="cancel()">back</a></li>
            </ul>
        </nav>
    </div>

    <form ng-submit="save()">
        <div class='view-group'>
            <label for="username">Username</label>
            <input id="username" ng-model="user.id" class="form-element large focus" type="text">
        </div>

        <div class="edit-group">
            <label for="userFirstName">First Name</label>
            <input id="userFirstName" ng-model="user.firstName" class="form-element large focus" type="text">
        </div>

        <div class="edit-group">
            <label for="userLastName">Last Name</label>
            <input id="userLastName" ng-model="user.lastName" class="form-element large focus" type="text">
        </div>

        <div class="edit-group">
            <label for="userEmail">Email</label>
            <input id="userEmail" ng-model="user.email" class="form-element large focus" type="text">
        </div>

        <div class="edit-group">
            <label for="newPassword">Password</label>
            <input id="newPassword" ng-model="password.new" class="form-element medium" type="password">
        </div>

        <div class="edit-group">
            <label for="confirmPassword">Confirm</label>
            <input id="confirmPassword" ng-model="password.confirm" class="form-element medium" type="password">
        </div>

        <div class="edit-button-group">
            <button type="submit" class="form-button button-default">create</button>
            <button type="button" class="form-button" ng-click="cancel()">cancel</button>
        </div>
    </form>
</div>