<section>
    <h1 class="title">Create Account</h1>

    <ul class="actions">
        <li><a href="javascript:" ng-click="cancel()">back</a></li>
    </ul>

    <form ng-submit="save()">
        <fieldset class="form-group">
            <label class="form-label" for="userId">Username</label>
            <input id="userId" ng-model="user.id" class="form-element id" type="text" autofocus>
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label" for="userFirstName">First Name</label>
            <input id="userFirstName" ng-model="user.firstName" class="form-element name" type="text">
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label" for="userLastName">Last Name</label>
            <input id="userLastName" ng-model="user.lastName" class="form-element name" type="text">
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label" for="userEmail">Email</label>
            <input id="userEmail" ng-model="user.email" class="form-element email" type="text">
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label" for="newPassword">Password</label>
            <input id="newPassword" ng-model="password.new" class="form-element password" type="password">
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label" for="confirmPassword">Confirm</label>
            <input id="confirmPassword" ng-model="password.confirm" class="form-element password" type="password">
        </fieldset>

        <fieldset class="form-button-group">
            <button type="submit" class="form-button button-default">create</button>
            <button type="button" class="form-button" ng-click="cancel()">cancel</button>
        </fieldset>
    </form>
</section>