<section>
    <h1 class="title">Edit Idea</h1>

    <ul class="actions">
        <li><a href="" ng-click="cancel()" id-disabling>back</a></li>
    </ul>

    <form name="editIdeaForm" ng-submit="save(editIdeaForm)" novalidate>
        <fieldset class="form-group">
            <label class="form-label" for="ideaName">Name</label>
            <input id="ideaName" name="ideaName" ng-model="idea.name" class="form-element name" type="text" ng-class="{'has-error': editIdeaForm.ideaName.$invalid}" id-focus id-disabling required>
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label" for="ideaSummary">Summary</label>
            <textarea id="ideaSummary" name="ideaSummary" ng-model="idea.summary" class="form-element desc" ng-class="{'has-error': editIdeaForm.ideaSummary.$invalid}" id-disabling required id-auto-size></textarea>
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label" for="ideaBenefits">Benefits</label>
            <textarea id="ideaBenefits" name="ideaBenefits" ng-model="idea.benefits" class="form-element desc" ng-class="{'has-error': editIdeaForm.ideaBenefits.$invalid}" id-disabling required id-auto-size></textarea>
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label" for="ideaDetails">Details</label>
            <textarea id="ideaDetails" name="ideaDetails" ng-model="idea.details" class="form-element desc" ng-class="{'has-error': editIdeaForm.ideaDetails.$invalid}" id-disabling required id-auto-size></textarea>
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label" for="ideaProposers">Proposers</label>
            <ul class="inline-form-list">
                <li ng-repeat="proposer in idea.proposers">
                    {{proposer.firstName}} {{proposer.lastName}}
                    <button type="button" ng-click="removeProposer($index)" id-disabling>x</button>
                </li>
            </ul>
            <button type="button" class="inline-symbol" ng-click="addProposer()" id-disabling>(+)</button>
        </fieldset>

        <fieldset class="form-group" ng-controller="IdeaSkillCtrl">
            <label class="form-label" for="ideaSkills">Skills</label>
            <ul class="inline-form-list">
                <li ng-repeat="skill in idea.skills">
                    {{skill}}
                    <button type="button" ng-click="removeSkill($index)" id-disabling>x</button>
                </li>
                <li class="skill-new" ng-show="showNewSkill">
                    <input id="newSkill" list="newSkillData" ng-model="newSkill" class="form-element" type="text" id-disabling id-focus="{{newSkillFocus}}">
                    <datalist id="newSkillData">
                        <option ng-repeat="skillVal in skills" value="{{skillVal}}">
                    </datalist>
                    <button type="button" class="inline-symbol" ng-click="saveSkill()" id-disabling>(+)</button>
                    <button type="button" class="inline-symbol" ng-click="cancelSkill()" id-disabling>(x)</button>
                </li>
            </ul>
            <button type="button" class="inline-symbol" ng-click="addSkill()" ng-hide="hideNewSkillButton" id-disabling>(+)</button>
        </fieldset>

        <fieldset class="form-group" ng-controller="IdeaTechCtrl">
            <label class="form-label" for="ideaTechnologies">Technologies</label>
            <ul class="inline-form-list">
                <li ng-repeat="tech in idea.technologies">
                    {{tech}}
                    <button type="button" ng-click="removeTech($index)" id-disabling>x</button>
                </li>
                <li class="tech-new" ng-show="showNewTech">
                    <input id="newTech" list="newTechData" ng-model="newTech" class="form-element" type="text" id-disabling id-focus="{{newTechFocus}}">
                    <datalist id="newTechData">
                        <option ng-repeat="techVal in techs" value="{{techVal}}">
                    </datalist>
                    <button type="button" class="inline-symbol" ng-click="saveTech()" id-disabling>(+)</button>
                    <button type="button" class="inline-symbol" ng-click="cancelTech()" id-disabling>(x)</button>
                </li>
            </ul>
            <button type="button" class="inline-symbol" ng-click="addTech()" ng-hide="hideNewTechButton" id-disabling>(+)</button>
        </fieldset>

        <fieldset class="form-group" ng-controller="IdeaTagCtrl">
            <label class="form-label" for="ideaTags">Tags</label>
            <ul class="inline-form-list">
                <li ng-repeat="tag in idea.tags">
                    {{tag}}
                    <button type="button" ng-click="removeTag($index)" id-disabling>x</button>
                </li>
                <li class="tag-new" ng-show="showNewTag">
                    <input id="newTag" list="newTagData" ng-model="newTag" class="form-element" type="text" id-disabling id-focus="{{newTagFocus}}">
                    <datalist id="newTagData">
                        <option ng-repeat="tagVal in tags" value="{{tagVal}}">
                    </datalist>
                    <button type="button" class="inline-symbol" ng-click="saveTag()" id-disabling>(+)</button>
                    <button type="button" class="inline-symbol" ng-click="cancelTag()" id-disabling>(x)</button>
                </li>
            </ul>
            <button type="button" class="inline-symbol" ng-click="addTag()" ng-hide="hideNewTagButton" id-disabling>(+)</button>
        </fieldset>

        <fieldset class="form-button-group">
            <button type="submit" class="form-button button-default" id-disabling>save</button>
            <button type="button" class="form-button" ng-click="cancel()" id-disabling>cancel</button>
        </fieldset>
    </form>
</section>