<section>
    <h1 class="title">New Idea</h1>

    <ul class="actions">
        <li><a href="javascript:" ng-click="cancel()">back</a></li>
    </ul>

    <form ng-submit="save()">
        <div class="edit-group">
            <label for="ideaName">Name</label>
            <input id="ideaName" ng-model="idea.name" class="form-element large focus" type="text">
        </div>

        <div class="edit-group">
            <label for="ideaSummary">Summary</label>
            <textarea id="ideaSummary" ng-model="idea.summary" class="form-element x-large"></textarea>
        </div>

        <div class="edit-group">
            <label for="ideaBenefits">Benefits</label>
            <textarea id="ideaBenefits" ng-model="idea.benefits" class="form-element x-large"></textarea>
        </div>

        <div class="edit-group">
            <label for="ideaDetails">Details</label>
            <textarea id="ideaDetails" ng-model="idea.details" class="form-element x-large"></textarea>
        </div>

        <div class="edit-group">
            <label for="ideaSkills">Skills</label>
            <input id="ideaSkills" ng-model="idea.skills" class="form-element medium" type="text">
        </div>

        <div class="edit-group">
            <label for="ideaTechnologies">Technologies</label>
            <input id="ideaTechnologies" ng-model="idea.technologies" class="form-element medium" type="text">
        </div>

        <div class="edit-group">
            <label for="ideaTags">Tags</label>
            <input id="ideaTags" ng-model="idea.tags" class="form-element medium" type="text">
        </div>

        <div class="edit-button-group">
            <button type="submit" class="form-button button-default">save</button>
            <button type="button" class="form-button" ng-click="cancel()">cancel</button>
        </div>
    </form>
</section>