<section>
    <h1 class="title">Idea Details</h1>

    <ul class="actions">
        <li><a href="" ng-click="back()" id-disabling>back</a></li>
        <li><a href="" ng-click="vote()" id-disabling>vote</a></li>
        <li><a href="" ng-click="edit()" id-disabling>edit</a></li>
        <li><a href="" ng-click="remove()" id-disabling>delete</a></li>
    </ul>

    <div class='view-group'>
        <div class="view-label"></div>
        <div class="view-element bottom-border"><h2>{{idea.name}}</h2></div>
    </div>

    <div class='view-group'>
        <div class="view-label">Summary</div>
        <div class="view-element bottom-border">{{idea.summary}}</div>
    </div>

    <div class='view-group'>
        <div class="view-label">Benefits</div>
        <div class="view-element bottom-border">{{idea.benefits}}</div>
    </div>

    <div class='view-group'>
        <div class="view-label">Details</div>
        <div class="view-element bottom-border">{{idea.details}}</div>
    </div>

    <div class='view-group'>
        <div class="view-label">Proposers</div>
        <div class="view-element">{{toList(idea.proposerNames)}}</div>
    </div>

    <div class='view-group'>
        <div class="view-label">Skills</div>
        <div class="view-element">{{toList(idea.skills)}}</div>
    </div>

    <div class='view-group'>
        <div class="view-label">Technologies</div>
        <div class="view-element">{{toList(idea.technologies)}}</div>
    </div>

    <div class='view-group'>
        <div class="view-label">Tags</div>
        <div class="view-element">{{toList(idea.tags)}}</div>
    </div>

    <div class='view-group'>
        <div class="view-label">Votes</div>
        <div class="view-element bottom-border-spaced">{{idea.voteCount}}</div>
    </div>

    <div class='view-group'>
        <div class="view-label">Comments</div>
        <div class="view-element" ng-controller="IdeaCommentsCtrl">
            <ul class="comment-list">
                <li ng-repeat="comment in idea.comments">
                    <span class="comment-header">{{comment.timestamp | date: 'M/dd/yyyy h:mm a'}}, {{comment.fullName}}</span>
                    <span class="comment-text">{{comment.text}}</span>
                </li>
                <li class="comment-new" id="ideaNewComment">
                    <textarea ng-model="newComment" class="form-element comment-new-text" id="newCommentText" rows="1" id-disabling></textarea>
                    <button type="button" class="inline" ng-click="saveComment()" id-disabling>save</button>
                    <button type="button" class="inline" ng-click="cancelComment()" id-disabling>cancel</button>
                </li>
            </ul>
            <button type='button' id="ideaAddCommentButton" class="inline add-comment-button" ng-click="addComment()">add comment</button>
        </div>
    </div>
</section>