<section>
    <h1 class="title">Ideas</h1>

    <ul class="actions">
        <li><a href="javascript:" ng-click="addNew()">new</a></li>
        <li><a href="javascript:" ng-click="sort()">sort</a></li>
        <li><a href="javascript:" ng-click="filter()">filter</a></li>
    </ul>

    <ul class="idea-list">
        <li ng-repeat="idea in ideas">
            <button ng-click="viewIdea(idea.id)">
                <span class="idea-list-name">{{idea.name}}</span>
                <span class="idea-list-summary">{{idea.summary}}</span>
                <span class="idea-list-info idea-list-info-first">votes: {{idea.voteCount}}</span>
                <span class="idea-list-info">tags: {{toList(idea.tags)}}</span>
                <span class="idea-list-info">skills: {{toList(idea.skills)}}</span>
                <span class="idea-list-info">techs: {{toList(idea.technologies)}}</span>
            </button>
        </li>
    </ul>
</section>