<section>
    <h1 class="title">Edit Idea</h1>

    <ul class="actions">
        <li><a href="javascript:" ng-click="cancel()" id-disabling>back</a></li>
    </ul>

    <form ng-submit="save()">
        <fieldset class="form-group">
            <label class="form-label" for="ideaName">Name</label>
            <input id="ideaName" ng-model="idea.name" class="form-element name" type="text" id-focus id-disabling>
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label" for="ideaSummary">Summary</label>
            <textarea id="ideaSummary" ng-model="idea.summary" class="form-element desc" id-disabling></textarea>
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label" for="ideaBenefits">Benefits</label>
            <textarea id="ideaBenefits" ng-model="idea.benefits" class="form-element desc" id-disabling></textarea>
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label" for="ideaDetails">Details</label>
            <textarea id="ideaDetails" ng-model="idea.details" class="form-element desc" id-disabling></textarea>
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label" for="ideaProposers">Proposers</label>
            <input id="ideaProposers" ng-model="idea.proposers" class="form-element data" type="text" id-disabling>
            <button type="button" class="inline" ng-click="findProposer()" id-disabling>(lookup person)</button>
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label" for="ideaSkills">Skills</label>
            <input id="ideaSkills" ng-model="idea.skills" class="form-element data" type="text" id-disabling>
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label" for="ideaTechnologies">Technologies</label>
            <input id="ideaTechnologies" ng-model="idea.technologies" class="form-element data" type="text" id-disabling>
        </fieldset>

        <fieldset class="form-group">
            <label class="form-label" for="ideaTags">Tags</label>
            <input id="ideaTags" ng-model="idea.tags" class="form-element data" type="text" id-disabling>
        </fieldset>

        <fieldset class="form-button-group">
            <button type="submit" class="form-button button-default" id-disabling>save</button>
            <button type="button" class="form-button" ng-click="cancel()" id-disabling>cancel</button>
        </fieldset>
    </form>
</section>