<div id="editIdea">
    <div id="editIdeaTitle" class="title">Ideas</div>

    <div id="editIdeaActions">
        <nav class="actions">
            <ul>
                <li><a href="javascript:" ng-click="cancel()">back</a></li>
            </ul>
        </nav>
    </div>

    <form ng-submit="save()">
        <div class="edit-group">
            <label for="ideaName">Name</label>
            <input id="ideaName" ng-model="idea.name" class="form-element large focus" type="text">
        </div>

        <div class="edit-group">
            <label for="ideaSummary">Summary</label>
            <textarea id="ideaSummary" ng-model="idea.summary" class="form-element x-large"></textarea>
        </div>

        <div class="edit-group">
            <label for="ideaBenefits">Benefits</label>
            <textarea id="ideaBenefits" ng-model="idea.benefits" class="form-element x-large"></textarea>
        </div>

        <div class="edit-group">
            <label for="ideaDetails">Details</label>
            <textarea id="ideaDetails" ng-model="idea.details" class="form-element x-large"></textarea>
        </div>

        <div id="proposersGroup" class="edit-group">
            <label for="ideaProposers">Proposers</label>
            <input id="ideaProposers" ng-model="idea.proposers" class="form-element medium" type="text">
            <button type="button" class="form-inline-button" ng-click="findProposer()">(lookup person)</button>
        </div>

        <div class="edit-group">
            <label for="ideaSkills">Skills</label>
            <input id="ideaSkills" ng-model="idea.skills" class="form-element medium" type="text">
        </div>

        <div class="edit-group">
            <label for="ideaTechnologies">Technologies</label>
            <input id="ideaTechnologies" ng-model="idea.technologies" class="form-element medium" type="text">
        </div>

        <div class="edit-group">
            <label for="ideaTags">Tags</label>
            <input id="ideaTags" ng-model="idea.tags" class="form-element medium" type="text">
        </div>

        <div class="edit-button-group">
            <button type="submit" class="form-button button-default">save</button>
            <button type="button" class="form-button" ng-click="cancel()">cancel</button>
        </div>
    </form>

    <div id="personSearchBox">
        <form ng-submit="executePersonSearch()">
            <input id="personSearchFieldName" type="hidden">
            <input id="personSearch" class="form-element small" type="text">
            <button type="submit" class="hidden"></button>
            <button type="button" class="form-inline-button" ng-click="closePersonSearchBox()">(close)</button>
        </form>

        <div id="personResultBox">
            <ul>
                <li ng-repeat="person in personSearchResults" ng-click="selectPerson(person)">
                    <span class="personResultFullName">{{person.firstName}} {{person.lastName}}</span>
                    <span class="personResultInfo">username: {{person.id}}</span>
                    <span class="personResultInfo">{{person.email}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>