<nav>
    <ul>
        <!--<li><img class="link" id="menu_ideas" src="images/bulb.png" height="40" width="40" ng-click="goToIdeas()"></li>-->
        <!--<li><img class="spacer" src="images/colon.png" height="16" width="16"></li>-->
        <!--<li><img class="link" id="menu_people" src="images/happyface.png" height="40" width="40" ng-click="goToPeople()"></li>-->
        <!--<li><img class="spacer" src="images/colon.png" height="16" width="16"></li>-->
        <!--<li><img class="link" id="menu_account" src="images/gear.png" height="40" width="40" ng-click="goToAccount()"></li>-->

        <li><a href="javascript:" ng-click="goToIdeas()">Ideas</a></li>
        <li class="spacer2">|</li>
        <li><a href="javascript:" ng-click="goToPeople()">People</a></li>
        <li class="spacer2">|</li>
        <li><a href="javascript:" ng-click="goToAccount()">Account</a></li>
        <li class="spacer2">|</li>
        <li><a href="javascript:" ng-click="logout()">Logout</a></li>
    </ul>
</nav>
