<div id="wrapper">
    <div id="mask">
        <!--<div class="ctrlBox" ng-controller="ideaCtrl">-->
            <div id="box0" class="box">
                <h2>Ideas</h2>
                <div class="content">
                    <div class="inner">
                        <idealist></idealist>
                    </div>
                </div>
            </div>
            <div id="box1" class="box">
                <h2>Idea Details</h2>
                <div class="content">
                    <div class="inner">
                        <ideaview></ideaview>
                    </div>
                </div>
            </div>
        <!--</div>-->
        <div id="box2" class="box">
            <h2>People</h2>
            <div class="content">
                <div class="inner">
                    <br><br>
                </div>
            </div>
        </div>
        <div id="box3" class="box">
            <h2>Person Detail</h2>
            <div class="content">
                <div class="inner">
                    <br><br>
                </div>
            </div>
        </div>
        <div id="box4" class="box">
            <h2>Account Information</h2>
            <div class="content">
                <div class="inner">
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>