<nav id="menu">
    <ul>
        <li><img class="link" id="menu_ideas" src="images/bulb.png" height="40" width="40" ng-click="goToIdeas()"></li>
        <li><img class="spacer" src="images/colon.png" height="16" width="16"></li>
        <li><img class="link" id="menu_people" src="images/happyface.png" height="40" width="40" ng-click="goToPeople()"></li>
        <li><img class="spacer" src="images/colon.png" height="16" width="16"></li>
        <li><img class="link" id="menu_account" src="images/gear.png" height="40" width="40" ng-click="goToAccount()"></li>
        <li><img class="spacer" src="images/colon.png" height="16" width="16"></li>
        <li><img class="link" id="menu_search" src="images/search.png" height="40" width="40" ng-click="goToSearch()"></li>
    </ul>
</nav>
<div id="navtip"></div>

<a id="up"><img class="arrow" src="images/up-arrow.png" height="40" width="40" ng-click="up()"></a>
<a id="back"><img class="arrow" src="images/back-arrow.png" height="40" width="40" ng-click="back()"></a>
<a id="down"><img class="arrow" src="images/down-arrow.png" height="40" width="40" ng-click="down()"></a>
