<section>
    <h1 class="title">Account: Change Password</h1>

    <ul class="actions">
        <li><a routerLink="/account">back</a></li>
    </ul>

    <form *ngIf="user" [formGroup]="form" (ngSubmit)="save()">
        <id-view-field label="" [value]="user.firstName + ' ' + user.lastName" class="bottom-border"></id-view-field>

        <id-text-input formControlName="oldPassword" label="Old Password" class="password" type="password"
            [(ngModel)]="passwords.oldPassword"
            [errors]="formSubmitted ? form.controls.oldPassword.errors : {}"
            [showErrorMessage]="form.controls.oldPassword.errors && !form.controls.oldPassword.errors.required"
            [autoFocus]="true">
        </id-text-input>

        <id-text-input formControlName="newPassword" label="New Password" class="password" type="password"
            [(ngModel)]="passwords.newPassword"
            [errors]="formSubmitted ? form.controls.newPassword.errors : {}"
            [showErrorMessage]="form.controls.newPassword.errors && !form.controls.newPassword.errors.required">
        </id-text-input>

        <id-text-input formControlName="confirmPassword" label="Confirm" class="password" type="password"
            [(ngModel)]="passwords.confirmPassword"
            [errors]="formSubmitted ? form.controls.confirmPassword.errors : {}"
            [showErrorMessage]="form.controls.confirmPassword.errors && !form.controls.confirmPassword.errors.required">
        </id-text-input>

        <fieldset class="form-button-group">
            <button type="submit" class="form-button button-default">save</button>
            <button type="button" class="form-button" (click)="cancel()">cancel</button>
        </fieldset>
    </form>
</section>