<div class='view-group'>
    <div class="view-label">Comments</div>
    <div class="view-element">
        <ul class="comment-list">
            <li *ngFor="let comment of comments">
                <span class="comment-header">{{comment.timestamp | idDateTimeFormatter}}, {{comment.person.firstName}} {{comment.person.lastName}}</span>
                <span class="comment-text linebreaks" [innerHtml]="comment.text | idTextFormatter"></span>
            </li>
            <li *ngIf="showNewComment">
                <textarea id="newComment" [(ngModel)]="newCommentText" rows="1"
                    class="form-element comment-new-text auto-size" id-autofocus id-autosize></textarea>
                <button type="button" class="inline" (click)="saveComment()">save</button>
                <button type="button" class="inline" (click)="cancelComment()">cancel</button>
            </li>
        </ul>
        <button *ngIf="!showNewComment" type="button" class="inline add-comment-button" (click)="addComment()">add comment</button>
    </div>
</div>