<div>
    <id-view-field label="" [value]="idea.name" class="bottom-border"></id-view-field>
    <id-view-field label="Summary" [value]="idea.summary" class="bottom-border linebreaks"></id-view-field>
    <id-view-field label="Benefits" [value]="idea.benefits" class="bottom-border linebreaks"></id-view-field>
    <id-view-field label="Details" [value]="idea.details" class="bottom-border linebreaks"></id-view-field>
    <id-view-field label="Proposers" [value]="toList(idea.proposers, true)"></id-view-field>
    <id-view-field label="Skills" [value]="toList(idea.skills)"></id-view-field>
    <id-view-field label="Technologies" [value]="toList(idea.technologies)"></id-view-field>
    <id-view-field label="Tags" [value]="toList(idea.tags)"></id-view-field>
    <id-view-field label="Votes" [value]="idea.votes.length" class="bottom-border-spaced"></id-view-field>

    <id-comments-section [(comments)]="idea.comments" (commentsChange)="onCommentsChange()"></id-comments-section>
</div>